<div class="cartArea">
  <div class="head">
    <h3>Your Cart</h3>
    @if (totalPrice() > 0) {
      <h5>{{ totalPrice() | currency }}</h5>
    }
  </div>
  @if (tools.loader()) {
    <app-spinner></app-spinner>
  }
  @else {
  @for (item of cartArray(); track $index) {
    <div class="card">
      <img [src]="item.product.images[0]" alt="" />
      <div class="info">
        <h4>{{ item.product.title }}</h4>
        <p>{{ item.product.price.current | currency }}</p>
      </div>
      <div class="quantity">
        <i
          [style.visibility]="item.product.stock > item.quantity ? 'visible' : 'hidden'"
          (click)="updateCart(item.product._id, '+', item.quantity)"
          class="fa-solid fa-angle-up"
        ></i>
        <p>{{ item.quantity }}</p>
        <i
          [style.visibility]="item.quantity > 1 ? 'visible' : 'hidden'"
          (click)="updateCart(item.product._id, '-', item.quantity)"
          class="fa-solid fa-angle-down"
        ></i>
      </div>
      <p>{{ item.product.price.current * item.quantity | currency }}</p>
      <i (click)="buyAndSendSMS(item.product, item.quantity, item.product._id)" class="fa-solid fa-cart-shopping"></i>
      <i (click)="removeItem(item.product._id)" class="fa-solid fa-x"></i>
    </div>

  } @empty {
    <div class="emptyCard">
      <img src="/nocart.png" alt="" />
      <h4>Your cart is empty</h4>
      <p>
        Your selected products will appear here after you add them to your cart.
      </p>
    </div>
  }
}
</div>
