section {
  display: flex;
  align-items: center;
  position: relative;
}

section > button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px grey;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}

section > button:first-child {
  left: 0;
}
section > button:last-child {
  right: 0;
}

section > button:hover {
  box-shadow: 0 0 6px #7f56d9;
}

section main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

.card {
  width: 250px;
  height: 380px;
  padding: 10px;
  box-shadow: 0 0 2px 1px rgb(232, 229, 229);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  cursor: default;
  font-family: "Slabo 27px", serif;
}
.card h6 {
  position: absolute;
  transform: rotate(-39deg);
  background-color: #7f56d9;
  color: white;
  padding: 5px 20px;
  left: -22px;
  top: 10px;
  z-index: 10;
  font-family: "Slabo 27px", serif;
}
.card:hover {
  transform: scale(1.01);
}
.card:hover img {
  transform: scale(1.01);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: contain;
  border-radius: 20px;
  transition: 0.4s;
}

.card h4 {
  font-weight: 500;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 14px;
}

.card span {
  color: #7f56d9;
  font-weight: 500;
  text-decoration: line-through;
  font-size: 13px;
}

.bottomArea {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10px;
}

.bottomArea i {
  border-radius: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgb(204, 203, 203);
  color: #7f56d9;
  cursor: pointer;
  transition: 0.3s;
}

.bottomArea i:hover {
  box-shadow: 0 0 5px #7f56d9;
}

.card button {
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #7f56d9;
  border-radius: 25px;
  color: white;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 15px;
  transition: 0.4s;
}

.card button:hover {
  box-shadow: 2px 1px 9px -1px #7f56d9;
}

/* .viewMore {
  padding: 7px 30px;
} */
