aside {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article {
  box-shadow: 0 0 8px #f2eefb;
  border-radius: 15px;
  border: 0.4px solid #f2eefb;
  overflow: hidden;
}

article.brands ul {
  height: auto;
}

article.brands ul.toggleBrands {
  height: 0;
}

.toggleBrands {
  height: auto;
}

ul {
  height: 0px;
  transition: 1s;
  transition: height 0.5s ease-out;
}

h3 {
  background-color: #f2eefb;
  padding: 5px 10px;
  font-family: "Slabo 27px", serif;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9;
  cursor: pointer;
}

li {
  background-color: #f9f8fa;
  margin-top: 1.5px;
  padding: 4px 10px;
  font-family: "Google Sans Flex", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}

.activeLI {
  box-shadow: inset 0 0 4px -1px #8f60f6;
  color: #7f56d9;
}

aside > input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 0.4px solid #eaddf6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0 0 5px 2px #f4f3f6;
  font-family: "Slabo 27px", serif;
}

.prices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-bottom: 2px;
}

.interval {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.interval label {
  position: absolute;

  top: 3px;
  padding: 3px 5px;
  left: 10px;
  font-family: "Slabo 27px", serif;
  transition: 0.6s;
}

.interval input {
  width: 100%;
  height: 35px;
  outline: none;
  border: 0.4px solid #eaddf6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0 0 5px 2px #f4f3f6;
  font-family: "Slabo 27px", serif;

  text-align: end;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.interval input:focus + label {
  top: -40px;
  background-color: white;
}

.sort {
  padding-bottom: 1px;
}

.sort h5 {
  font-family: "Slabo 27px", serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.sortSelect {
  display: flex;
  gap: 10px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.sortToggle {
  height: auto;
}

.sort select {
  width: 50%;
  height: 35px;
  outline: none;
  border: 0.4px solid #eaddf6;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: inset 0 0 5px 2px #f4f3f6;
  font-family: "Slabo 27px", serif;
  font-size: 13px;
  display: flex;
  align-items: center;
}
select,
select::picker(select) {
  appearance: base-select;
}

select option {
  padding: 4px 8px;

  color: black;
  background-color: transparent;
}

select::picker(select) {
  background-color: #f2eefb;
  border: 2px solid #f4f3f6;
  border-radius: 6px;
}

select option:hover {
  background-color: #eaddf6;
  color: white;
}

aside button {
  background-color: #7f56d9;
  font-family: "Slabo 27px", serif;
  border: none;
  height: 45px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.4px;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: 0 0 1px white;
}


@media (max-width: 768px) {

  aside {
    width: 100% !important;
  }
}