<div class="userArea">
  <div class="user">
    <img [src]="userInfoNAV().image" alt="" />
    <div class="fullName">
      <h3>{{ userInfoNAV().firstName }}</h3>
      <h4>{{ userInfoNAV().lastName }}</h4>
    </div>
  </div>
  <div class="personalInfo">
    <article class="categories">
      <h3 (click)="personalInfo.classList.toggle('toggleBrands')">
        Personal Info
        <i
          class="fa-solid fa-angle-{{
            personalInfo.classList.contains('toggleBrands') ? 'up' : 'down'
          }}"
        ></i>
      </h3>
      <ul #personalInfo>
        <form [formGroup]="profileToUpdate">
          <li>
            <strong>First Name:</strong>
            <input
              [readOnly]="!canChangeBio"
              type="text"
              formControlName="firstName"
            />
          </li>
          <li>
            <strong>Last Name:</strong>
            <input
              [readOnly]="!canChangeBio"
              type="text"
              formControlName="lastName"
            />
          </li>
          <li>
            <strong>Email:</strong>
            <span> {{ userInfoNAV().email }} </span>
          </li>
          <li>
            <strong>Age:</strong>
            <input
              [readOnly]="!canChangeBio"
              type="text"
              formControlName="age"
            />
          </li>
          <li>
            <strong>Gender:</strong>
            <input
              [readOnly]="!canChangeBio"
              type="text"
              formControlName="gender"
            />
          </li>
          <li>
            <strong>Image:</strong>
            <input
              [readOnly]="!canChangeBio"
              type="text"
              formControlName="avatar"
            />
          </li>
        </form>
      </ul>
    </article>
    <article class="categories">
      <h3 (click)="accountPrivacy.classList.toggle('toggleBrands')">
        Account Privacy
        <i
          class="fa-solid fa-angle-{{
            accountPrivacy.classList.contains('toggleBrands') ? 'up' : 'down'
          }}"
        ></i>
      </h3>
      <ul #accountPrivacy>
        <li
          (click)="
            canChangeBio = !canChangeBio; personalInfo.classList.add('toggleBrands')
          "
        >
          Change Your Bio
          @if (canChangeBio) {
            <strong (click)="updateBio()">Update</strong>
          }
        </li>
        <li (click)="isPassFormShown = !isPassFormShown">Update Password</li>
      </ul>
    </article>
    <form [formGroup]="passForm" class="passChangeForm {{isPassFormShown ? 'passFShown' : '' }}" (ngSubmit)="updatePass()">
      <input type="password" formControlName="oldPassword" placeholder="Current Passowrd" />
      <input type="password" formControlName="newPassword" placeholder="New Passowrd" />
      <button [disabled]="passForm.invalid">Change Password</button>
    </form>
  </div>
  @if (isResponseSMSShown) { <p class="reqSms"> {{responseSMS()}} </p> }
</div>

<!-- @if (isProfileInfoShown) {

  <app-editprofile (closeEmitter)="closeProfileInfo($event)"></app-editprofile>
}

<header></header>
@if (userData) {
<div class="userHead">
  <img [src]="userData.avatar" alt="" />
  <div class="infoHead">
    <h1>
      {{ userData.firstName }} {{ userData.lastName }} @if (userData.verified)
      {<i class="fa-solid fa-circle-check"></i>}
    </h1>
    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
    <div class="sideInfo">
      <p><i class="fa-solid fa-location-dot"></i> {{ userData.address }}</p>
      <p><i class="fa-solid fa-phone-volume"></i> {{ userData.phone }}</p>
      <p><i class="fa-solid fa-envelope"></i> {{ userData.email }}</p>
    </div>
  </div>
  <div class="areaSetting">
  <i (click)="toggleSettings()" class="fa-solid fa-gear"></i>
  <ul #settings class="settings">
    <li (click)="showProfileInfo()">Update your Info</li>
    <li>Change password</li>
    <li>Delete Account</li>
  </ul>
  </div>
</div>
@if (cartList.length > 0) {
<main>
  <div class="leftSide">
    <div class="cartHeading">
        <h1>Shopping Cart</h1>
        <h4>{{cartList.length}} items</h4>
    </div>
    <div class="list">

   
    
        @for (item of cartList; track $index) {
        <div class="listItem">
          <img width="50" [src]="item.images[0]" alt="" />
          <div class="title">
            <h4>{{ item.category.name }}</h4>
            <h4>{{ item.title }}</h4>
          </div>
          <div class="quantity">
            <button>-</button>
            <p>{{ item.quantity }}</p>
            <button>+</button>
          </div>
          <p>{{(item.price.current * item.quantity) | currency }}</p>
          <button (click)="deleteItem(item._id)" class="trash"><i class="fa-solid fa-trash"></i></button>
        </div>
        }
     
    </div>
    <button (click)="removeALL()" class="removeAll">Remove All</button>
  </div>
  <div class="rightSide">
    <h1>Summary</h1>
     <div class="total">
        <h2>ITEMS 3</h2>
        <h2>{{total | currency  }}</h2>
    </div>
    <div class="shipping">
        <h2>SHIPPING</h2>
        <input type="text" value="Standart-Delivery - $10" readonly>
    </div>
    <div class="total">
        <h2>TOTAL PRICE</h2>
        <h2>{{ (total + 10) | currency  }}</h2>
    </div>
    <button (click)="checkOut()">CHECKOUT</button>
  </div>
</main>
}
@else {
    <div class="noCart">
        <h1>{{cartSMS ? 'Products purchased successfully' : 'No Products in Cart...'}}</h1>
        <button routerLink="/shop">Go To Shopping</button>
    </div>
}
} -->
